@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    width: 90px;
    height: 90px;

    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1q6z2kV8_7RZuJAp74ii9srftzUxaoYSRAw&s');
    background-size: cover;
    background-position: center;

    position: relative;
}

#dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    position: absolute;
    right: 1px;
}