/* ეს არის სრული CSS Rule (წესი) */
p {
    color: red;        /* ეს არის Declaration (დეკლარაცია) */
    font-size: 20px;   /* ესეც არის Declaration */
}

/*
ახლა ავხსნი ნაწილებად 

p ეს არის SELECTOR (სელექტორი)
იგი მიუთითებს რომელ ელემენტზე იმოქმედებს სტილი
აქ ნიშნავს: ყველა <p> თეგზე

{ } ეს არის ფიგურული ფრჩხილები
შიგნით იწერება declaration-ები

color: red;
ეს მთლიანად არის DECLARATION
იგი შედგება:

color - PROPERTY (რას ვცვლით — ტექსტის ფერს)
red - VALUE (რა მნიშვნელობას ვანიჭებთ)

*/